{% extends 'frontend/base.html' %}
{% block title %} 61010122 {% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="static/css/custom.css">
    
</head>
<body>
    


    <div id="foodslide" class="carousel slide" data-ride="carousel" data-interval = "2000">
        <ol class="carousel-indicators">
            <li data-target="#foodslide" data-slide-to="0" class="active"></li>
            
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
            <center>
                <img src ="static/images/862019_201008.jpg">

            </center>
            
            </div>
        </div>
        

    


    <footer class="footer mt-5">
        <div class="container bottom_border">
        <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">About us</h5>
        <p>Hi, I'm Jatupon Timporn.</p>
        <p>I'm a thridyear of Enginerring student.</p>
        <p>This website is for education thank for watching.</p>
        </div>
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Contact us</h5>
        <!--headin5_amrc-->
        <p><i class="fa fa-phone"></i>  +6681-348-9888  </p>
        <p><i class="fa fa fa-envelope"></i> 61010122@kmitl.ac.th  </p>
        </div>
        <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>

        <!--headin5_amrc ends here-->
        
        <ul class="footer_ul2_amrc">
        <li><a href="#"><i class="Home"></i> </a><p>1, Soi Chalong Krung 1, Ladkrabang District Bangkok, Thailand 10520</a></p></li>
        
        </ul>
        <!--footer_ul2_amrc ends here-->
        </div>
        </div>
        </div>
        
        
        <div class="container">
        <ul class="foote_bottom_ul_amrc">
        <li><a href="{% url 'index' %}">Home</a></li>
        
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2017 | Designed With by <a href="#">Jatupon Timaporn</a></p>
        <center>
        <ul class="social_footer_ul" >
        
        <li><a href="https://www.facebook.com/jatupon.timaporn/"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/jatupoint"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/jatupoint"><i class="fab fa-instagram"></i></a></li>
        
        </ul>
        </center>
        <!--social_footer_ul ends here-->
        </div>
        
        </footer>

{% endblock %}